<li>
	{{burger_name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if devoured}}Eaten{{else}}Devour It!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE BURGER</button>
</li>