<li>
	{{burger_name}}
	<div>
	<button class="change-sleep btn btn-success" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if devoured}}Eaten{{else}}Devour It!{{/if}}
	</button>

	<button class="delete-burger btn btn-danger" data-id="{{this.id}}">DELETE BURGER</button>
	</div>

</li>