<li class="indi-burger text-center">
	{{burger_name}}
	<div>
	<button {{#if devoured}} class="statusOfBurger btn devoured" disabled{{else}}
	class="statusOfBurger btn not-devoured"
	{{/if}} data-id="{{id}}" data-devouredState="{{devoured}}">
		{{#if devoured}}Eaten{{else}}Devour It!{{/if}}
	</button>

	<button class="delete-burger btn" data-id="{{this.id}}">DELETE BURGER</button>
	</div>

</li>